// bower:scss
@import "bower_components/reset-css/_reset.scss";
// endbower
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin,latin-ext);

@mixin background-image($color) {
    background-image: linear-gradient(bottom, $color 24%, lighten($color, 50) 86%);
	background-image: -moz-linear-gradient(bottom, $color 24%, lighten($color, 50) 86%);
	background-image: -webkit-linear-gradient(bottom, $color 24%, lighten($color, 50) 86%);
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin font-header($font-size){
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: $font-size;
}

@mixin font-body($font-size){
    font-family: Verdana;
	font-size: $font-size;
}

$mustard-yellow: #ffcc33;
$background: #eeeeee;

html{
	@include background-image($mustard-yellow);
	background-size: cover;
	height: 100%;
}

body {
	width: 50em;
	margin: auto;
	@include font-body(12px);
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header,
article,
footer {
    background-color: $background;
    @include border-radius(8px);
    width: 640px;
    border: 1px solid #000000;
    margin-bottom: 4px;
    padding: 8px;
}

header h1 {
    @include font-header(24px);
    text-align: center;
}

nav {
    width: 640px;
    clear: left;
    float: left;
    overflow: hidden;

    ul {
        height: 40px;
        clear: left;
        float: left;
        position: relative;
        left: 50%;
        text-align: center;

        li {
            float: left;
            position: relative;
            right: 50%;
            a {
                @include border-radius(4px);
                display: block;
                line-height: 30px;
                padding: 0 20px 0 20px;
                margin: 0 4px 0 4px;
                @include background-image(#4d7cf2);
                color: #ffffff;
                text-decoration: none;
                border: 2px outset #ffffff;
            }
            a:hover {
                @include background-image(#5c95ff);
            }
        }
    }
}

article {
    float: left;
    line-height: 140%;
    img {
        @include border-radius(4px);
        float: right;
        border: 2px solid #000;
        margin-left: 8px;
    }
    h2 {
        @include font-header(21px);
        line-height: 140%;
    }
    h3 {
        @include font-header(19px);
        line-height: 140%;
        margin-top: 8px;
    }
    p {
        margin-bottom: 12px;
    }
}

footer {
    float: left;
    text-align: center;
}